@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato:wght@100&family=Palanquin:wght@100&family=Raleway:wght@200&display=swap');

body
		{
		}

h1
		{
			font-family: 'Lato', sans-serif;
		}

h2		
		{
			font-family: 'Raleway', sans-serif;
		}

h3		
		{
			font-family: 'Raleway', sans-serif;
		}

h4
		{
			font-family: 'Allura', cursive;
		}
p
		{
			font-family: 'Palanquin', sans-serif;
		}


a:link, a:visited 
		{
			background-color: black;
			color:ghostwhite;
			text-decoration: none;
			padding: 20px;
			text-align: center;
			display: inline-table;
			font-family:'Lato', sans-serif;;
		}


a:hover 
		{
			color:black;
			background-color: darkgrey;
			text-decoration: underline;
		}

a:active 
		{
			color: 	black;
			background-color: ghostwhite;
			text-decoration: none;
		}

*		{
			box-sizing: border-box;
		}

.clm 	{
			float: left;
			width: 33.3%;
			padding: 3px;
		}

.clm img
		{
			height: 600px;
		}

*		{
			box-sizing: border-box;
		}

.pap	{
			float: left;
			width: 50%;
			padding: 3px;
		}

.pap img
		{
			height: 400px;		
		}

*		{
			box-sizing: border-box;
		}

.pip	{
			float: left;
			width: 50%;
			padding: 3px;
		}

.pip img
		{
			height: 400px;		
		}

.container 
		{
	  		position: relative;
	  		text-align: center;
	  		color: white;
		}

.centered 	
		{
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
		}

.bottom-left 

		{
			  position: absolute;
			  bottom: 8px;
			  left: 16px;
		}

*		{
			box-sizing: border-box;
		}

.pop	{
			float: left;
			width: 50%;
			padding: 3px;
		}

.pop img
		{
			height: 400px;		
		}

*		{
			box-sizing: border-box;
		}

.pqp	{
			float: left;
			width: 50%;
			padding: 3px;
		}

.pqp img
		{
			height: 400px;		
		}

*		{
			box-sizing: border-box;
		}

.pep	{
			float: left;
			width: 50%;
			padding: 3px;
		}

.pep img
		{
			height: 400px;		
		}

.cart
		{
			display: flex;
			align-items: center;
			justify-content: center;
		}

img
		{
			max-width: 100%;
		}

.img-col
		{
			flex-basis: 40%;
		}

.text-col
		{
			align-items: center;
		}

.cla 	{
			float: center;
			width: 33.3%;
			padding: 3px;
			align-items: center;
			align-content: center;
		}

.cla img
		{
			align-content: center;
			height: 40px;
		}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;

}
